In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
wegodf = pd.read_csv("../data/Headway Data, 8-1-2023 to 9-30-2023.csv")

wegodf.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [4]:
wegodf['ROUTE_ABBR'].value_counts().sort_index()

ROUTE_ABBR
3     47162
7     18026
22    25959
23    42108
50    43291
52    51819
55    61944
56    60020
Name: count, dtype: int64

In [5]:
wegodf[['DATE', 'CALENDAR_ID', 'TRIP_ID', 'ROUTE_ABBR', 'TIME_POINT_ABBR', 'TRIP_EDGE', 'SCHEDULED_TIME']].loc[:3]

,DATE,CALENDAR_ID,TRIP_ID,ROUTE_ABBR,TIME_POINT_ABBR,TRIP_EDGE,SCHEDULED_TIME
0,2023-08-01,120230801,345104,22,MHSP,1,2023-08-01 04:42:00
1,2023-08-01,120230801,345104,22,ELIZ,0,2023-08-01 04:46:00
2,2023-08-01,120230801,345104,22,CV23,0,2023-08-01 04:54:00
3,2023-08-01,120230801,345104,22,MCC5_10,2,2023-08-01 05:10:00

In [6]:
wegodf['SCHEDULED_TIME'] = pd.to_datetime(wegodf['SCHEDULED_TIME'])

In [7]:
wegodf['ACTUAL_DEPARTURE_TIME'] = pd.to_datetime(wegodf['ACTUAL_DEPARTURE_TIME'])

In [8]:
wegodf['ACTUAL_ARRIVAL_TIME'] = pd.to_datetime(wegodf['ACTUAL_ARRIVAL_TIME'])

In [9]:
#useful for iterating over every column and seeing a sample of the unique values within each column:

for series_name, series in wegodf.items():
    print(series_name)
    print(wegodf[series_name].unique())

CALENDAR_ID
[120230801 120230802 120230803 120230804 120230805 120230806 120230807
 120230808 120230809 120230810 120230811 120230812 120230813 120230814
 120230815 120230816 120230817 120230818 120230819 120230820 120230821
 120230822 120230823 120230824 120230825 120230826 120230827 120230828
 120230829 120230830 120230831 120230901 120230902 120230903 120230904
 120230905 120230906 120230907 120230908 120230909 120230910 120230911
 120230912 120230913 120230914 120230915 120230916 120230917 120230918
 120230919 120230920 120230921 120230922 120230923 120230924 120230925
 120230926 120230927 120230928 120230929 120230930]
SERVICE_ABBR
[1 2 3]
ADHERENCE_ID
[ 99457890  99457891  99457892 ... 100406612 100406613 100406614]
DATE
['2023-08-01' '2023-08-02' '2023-08-03' '2023-08-04' '2023-08-05'
 '2023-08-06' '2023-08-07' '2023-08-08' '2023-08-09' '2023-08-10'
 '2023-08-11' '2023-08-12' '2023-08-13' '2023-08-14' '2023-08-15'
 '2023-08-16' '2023-08-17' '2023-08-18' '2023-08-19' '2023-08-20'
 '2023-08-21' '2023-08-22' '2023-08-23' '2023-08-24' '2023-08-25'
 '2023-08-26' '2023-08-27' '2023-08-28' '2023-08-29' '2023-08-30'
 '2023-08-31' '2023-09-01' '2023-09-02' '2023-09-03' '2023-09-04'
 '2023-09-05' '2023-09-06' '2023-09-07' '2023-09-08' '2023-09-09'
 '2023-09-10' '2023-09-11' '2023-09-12' '2023-09-13' '2023-09-14'
 '2023-09-15' '2023-09-16' '2023-09-17' '2023-09-18' '2023-09-19'
 '2023-09-20' '2023-09-21' '2023-09-22' '2023-09-23' '2023-09-24'
 '2023-09-25' '2023-09-26' '2023-09-27' '2023-09-28' '2023-09-29'
 '2023-09-30']
ROUTE_ABBR
[22 23  3  7 50 52 55 56]
BLOCK_ABBR
[2200 2201 2202 2210 2211 2300 2301 2302 2303 2310 2311 2312 2313  300
  301  302  303  304  305  310  311  312  313  314  315  316  317  318
  319 4101 5000 5001 5002 5003 5004 5005 5006 5200 5201 5202 5203 5204
 5205 5206 5210 5211 5212 5213 5214 5215 5216 5217 5218 5500 5501 5502
 5503 5504 5505 5506 5507 5508 5509 5510 5511 5512 5513 5592 5593 5594
 5600 5601 5602 5603 5604 5605 5606 5607 5608 5609 5610 5611  700  701
  702  703  704  705  706 2804  390 5094 5590 5690 6401 8401 8405 8601
 8604 9302 9950 9975]
OPERATOR
[1040 2374 2689 1617 2427 1892 1190 1222 2355 2125 2649 1761 1893 2041
 1170 1823 1198 1147  522 2603  409 2958 2088 2348 2706 1368 3100 2529
 1237 1992 2059 2441 1204  326 2306 2177  559 2963 1948 2230 1703 2569
 2055 2675 2752  517 2586 2623  907 1682 1619 1133  659 1266 1623 1938
 1410 1705 1927 1391 2629  304  357 2500 2112 1505 1904 2577 1052 1800
 2253 1489 1542 2624 2062  359 1582 2428  332 2967 3016 2760 2584 1206
 2399 3124 2109 1208 3012 1361 2990 1650 1359  611 1590 2832 2560  520
 2371 1175 2200 1352 2714 1500 2817 3096 1958 2458 1601 1343 1016 2217
 1866 2987 1372 2792 1330 2733 1713 1406 2780  471 2638 1780 1177 2221
 1743 3144  572 2400  341 2312  778 2697  723 2324 2164 2618 2563 2809
 2448 1762 1401 2352  414 2497 2357 2545 3088 3015 2703  624 1566 2040
 3103 1736 2765 2610 3013 1379 3127 2549 3090 1730 3087 3035 2479 3128
 2954 1865 1914 2793 2207 1277 2505 1717 2783 1598 2161 2001 2630 1997
 2585 2335 1922 1716 1842 2246 2594 2512 2600 3093 1788 2972 2254 2969
 3079 2356 3101 1782 1814 2590 1848 3020 2530 2547 3064 1792 2764 3099
 2821 3031 1824 3001 1603 1251 2053 2978 1389 2580 3102 2943 2976 2762
 2362 2151 2127 1815 2962 1419 2747  785 2531 2138 2779 2751 1078 2669
 2440 2876 3098 1838 2642 1797 1457 2432 3122 2534 2322 2368 1394 2424
 3027 2693 3129 2103 2126 2102 2567 2573  329 1867 2012 1202 2228 2694
  379 2546 2321 2082 1377 1593 1305  623 3134 2423 2033  653 2662 3080
 2435 3126 2137 1763 3116 1621 3120 2982 1606 2639 1597 1984 2313 3140
 1524 1915  465 3142 2332 3138   56 2459 3118 1596 1362 1880 2989  301
 2503  235 2178 2493 2294 1363  656    0 1673 1706 3156 1742 2464 2784
 3149 3077 2338  244 2256  473 2646 2309 2472 2094 3165 1889 2494 1845
 3173 2377  375 3166 2029]
TRIP_ID
[345104 345105 345106 ... 354069 354098 354106]
OVERLOAD_ID
[0 1 3 2 4]
ROUTE_DIRECTION_NAME
['TO DOWNTOWN' 'FROM DOWNTOWN']
TIME_POINT_ABBR
['MHSP' 'ELIZ' 'CV23' 'MCC5_10' 'CLFF' 'HPKL' 'YGKG' '25ACLARK' 'DWMRT'
 'EDBC' 'DKTL' 'N1SP' 'MCC4_24' 'WHBG' 'HRWB' 'WE31' 'WE23' 'MCC5_5'
 'BRCJ' 'MP&R' 'HBHS' '21BK' 'MCC5_12' 'WALM' 'HLWD' 'CH46' '28&CHARL'
 'MCC5_1' 'HCKP' 'WMRT' 'THNV' 'NVFG' 'MCC4_19' 'LINWAL' 'DCSCC' 'HDANT'
 'HHWM' 'MXBELL' 'MXDONEL' 'MXTHOMP' 'MXWHARF' 'MCC4_15' 'GXRVRGAT'
 'GXMADISO' 'GXGRNFLD' 'GXFIVEPT' 'MCC4_18' 'SAMS' 'MCC5_9' 'MCC5_6'
 'MCC4_20' 'MLKS' 'MCC4_13' 'MEIG' 'MCC4_22' 'MCC5_11' 'ARTS' 'MCC5_7'
 'MCC5_2' 'HEAD' 'CRES']
ROUTE_STOP_SEQUENCE
[14. 10.  5.  1.  9.  8.  7. 12. 13.  6.  4.  3.  2. 17. 16. 15. 11. nan]
TRIP_EDGE
[1 0 2]
LATITUDE
[36.181248  36.193454  36.182177  36.1670905 36.18348   36.195013
 36.192856  36.218706  36.203239  36.18635   36.24406   36.231512
 36.244207  36.204256  36.175714  36.175433  36.205694  36.149179
 36.125659  36.143233  36.148685  36.149007  36.14304   36.126788
 36.069342  36.079608  36.069474  36.107575  36.138372  36.1324506
 36.138535  36.149997  36.152077  36.15387   36.154039  36.152286
 36.150052  36.138948  36.048934  36.082032  36.112037  36.135392
 36.135034  36.111844  36.082309  36.083421  36.086817  36.087288
 36.083418  36.0526371 36.072852  36.106276  36.127172  36.14886
 36.148839  36.128164  36.105615  36.07199   36.30047   36.257412
 36.210362  36.179753  36.179433  36.21007   36.2565672 36.300827
 36.307973  36.138881  36.161197  36.176017  36.131395  36.1586589
 36.194535  36.161272 ]
LONGITUDE
[-86.847705  -86.839981  -86.814445  -86.7819226 -86.81422   -86.837902
 -86.828554  -86.834137  -86.840636  -86.816998  -86.757403  -86.78049
 -86.760509  -86.769112  -86.774535  -86.77432   -86.768557  -86.858044
 -86.8465    -86.814581  -86.804611  -86.804449  -86.815175  -86.845188
 -86.933604  -86.955657  -86.933429  -86.812719  -86.800622  -86.907214
 -86.88113   -86.858261  -86.842746  -86.818414  -86.818055  -86.842032
 -86.858652  -86.880902  -86.713854  -86.726914  -86.745666  -86.759737
 -86.759818  -86.745821  -86.72734   -86.703471  -86.686874  -86.692935
 -86.704722  -86.6548782 -86.636862  -86.672801  -86.711441  -86.762226
 -86.76271   -86.713199  -86.672004  -86.636496  -86.69561   -86.714068
 -86.733625  -86.750216  -86.750111  -86.733544  -86.7140998 -86.694508
 -86.685963  -86.80018   -86.760399  -86.7404    -86.8046835 -86.837139
 -86.800248 ]
SCHEDULED_TIME
<DatetimeArray>
['2023-08-01 04:42:00', '2023-08-01 04:46:00', '2023-08-01 04:54:00',
 '2023-08-01 05:10:00', '2023-08-01 05:15:00', '2023-08-01 05:25:00',
 '2023-08-01 05:32:00', '2023-08-01 05:42:00', '2023-08-01 05:46:00',
 '2023-08-01 05:54:00',
 ...
 '2023-09-30 16:56:00', '2023-09-30 18:48:00', '2023-09-30 20:12:00',
 '2023-09-30 09:21:00', '2023-09-30 17:46:00', '2023-09-30 19:14:00',
 '2023-09-30 19:22:00', '2023-09-30 13:36:00', '2023-09-30 21:10:00',
 '2023-09-30 23:46:00']
Length: 70792, dtype: datetime64[ns]
ACTUAL_ARRIVAL_TIME
<DatetimeArray>
['2023-08-01 04:37:38', '2023-08-01 04:48:27', '2023-08-01 04:54:56',
 '2023-08-01 05:03:43', '2023-08-01 05:24:03', '2023-08-01 05:30:30',
 '2023-08-01 05:47:55', '2023-08-01 05:54:11', '2023-08-01 06:05:31',
 '2023-08-01 06:23:30',
 ...
 '2023-09-30 21:02:20', '2023-09-30 21:12:40', '2023-09-30 21:30:00',
 '2023-09-30 21:43:52', '2023-09-30 22:22:39', '2023-09-30 22:31:26',
 '2023-09-30 22:49:18', '2023-09-30 22:49:19', '2023-09-30 23:21:05',
 '2023-09-30 23:31:27']
Length: 272181, dtype: datetime64[ns]
ACTUAL_DEPARTURE_TIME
<DatetimeArray>
['2023-08-01 04:44:08', '2023-08-01 04:48:27', '2023-08-01 04:54:56',
 '2023-08-01 05:03:43', '2023-08-01 05:16:35', '2023-08-01 05:24:03',
 '2023-08-01 05:30:30', '2023-08-01 05:43:43', '2023-08-01 05:47:55',
 '2023-08-01 05:54:11',
 ...
 '2023-09-30 21:16:51', '2023-09-30 21:30:00', '2023-09-30 21:50:54',
 '2023-09-30 22:22:39', '2023-09-30 22:24:37', '2023-09-30 22:31:26',
 '2023-09-30 22:49:18', '2023-09-30 22:49:19', '2023-09-30 23:21:05',
 '2023-09-30 23:34:40']
Length: 323086, dtype: datetime64[ns]
ADHERENCE
[ -2.133333  -2.45      -0.933333 ... -55.533333 -29.683333  13.366666]
SCHEDULED_HDWY
[ nan  35.  15.  60.  63.  16.  55.  12.  50.  13.  49.  25.  24.  30.
  68.  33.  28.  23.  45.  46.  10.  51. 503.  80.  65.  59.  57.  32.
  22.  20.  21.  11.  31.  19.  17.  48.  36.  39.  38.  40.  42.  14.
  29.  44.  41.  18.  61. 100.   9.   8.  43.   7.  26.  34.  37.  53.
 407.   5.  27.  84.  70.  64.  99.  52.  62.  58.  90.  89.   2.   0.
   6.]
ACTUAL_HDWY
[      nan 37.666666 36.966666 ... 72.333333 73.516666 79.733333]
HDWY_DEV
[       nan   2.666666   1.966666 ... -21.883334 -22.983334 -17.5     ]
ADJUSTED_EARLY_COUNT
[0 1]
ADJUSTED_LATE_COUNT
[0 1]
ADJUSTED_ONTIME_COUNT
[1 0]
STOP_CANCELLED
[0 1]
PREV_SCHED_STOP_CANCELLED
[ 0. nan  1.]
IS_RELIEF
[0 1]
DWELL_IN_MINS
[ 6.5       0.       12.866666 ... 61.633333 40.716666  0.133333]
SCHEDULED_LAYOVER_MINUTES
[ nan   5.  10.   7.   9.   4.  18.  15.  19.   6.  17.   8.   2.  20.
   3.  11.  31.  13.  14.  22.  29.  21.  23.   0.  12.  43.  16.  41.
  32.  25.  42.  24.  34.  44.  27.  40.  26.  28.  33.  38.  36.  30.
  35.   1.  37.  61. 118.]

## Q1 1. What is the overall on-time performance, and what do the overall distributions of adherence and headway deviation look like?

In [10]:
wegodf.columns

Index(['CALENDAR_ID', 'SERVICE_ABBR', 'ADHERENCE_ID', 'DATE', 'ROUTE_ABBR',
       'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'OVERLOAD_ID',
       'ROUTE_DIRECTION_NAME', 'TIME_POINT_ABBR', 'ROUTE_STOP_SEQUENCE',
       'TRIP_EDGE', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'STOP_CANCELLED',
       'PREV_SCHED_STOP_CANCELLED', 'IS_RELIEF', 'DWELL_IN_MINS',
       'SCHEDULED_LAYOVER_MINUTES'],
      dtype='object')

In [11]:
wegodf['PREV_SCHED_STOP_CANCELLED'].value_counts().sort_index()

PREV_SCHED_STOP_CANCELLED
0.0    275746
1.0      4254
Name: count, dtype: int64

In [12]:
wegodf[['ROUTE_ABBR', 'PREV_SCHED_STOP_CANCELLED']].groupby(['ROUTE_ABBR'])['PREV_SCHED_STOP_CANCELLED']\
                                                        .value_counts()\
                                                        .reset_index(name = 'sched_stop_count')\
                                                        .sort_values(['sched_stop_count'])

    ROUTE_ABBR  PREV_SCHED_STOP_CANCELLED  sched_stop_count
3            7                        1.0               203
9           50                        1.0               293
11          52                        1.0               472
1            3                        1.0               485
13          55                        1.0               521
15          56                        1.0               528
7           23                        1.0               535
5           22                        1.0              1217
2            7                        0.0             11813
4           22                        0.0             17106
6           23                        0.0             30334
8           50                        0.0             35633
0            3                        0.0             38089
10          52                        0.0             42424
14          56                        0.0             49418
12          55                        0.0             50929

In [13]:
#Removing rows with PREV_SCHED_STOP_CANCELLED equal to 1.0
no_sched_stop = wegodf.query('`PREV_SCHED_STOP_CANCELLED` == 1.0')
no_sched_stop = wegodf[~(wegodf['PREV_SCHED_STOP_CANCELLED'] ==1.0)] 
no_sched_stop

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350324,120230930,2,100406610,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,35.266666,5.266666,0,1,0,0,0.0,0,0.000000,NaN
350325,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350326,120230930,2,100406612,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,31.866666,1.866666,0,0,1,0,0.0,0,0.000000,NaN
350327,120230930,2,100406613,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,47.500000,17.500000,0,1,0,0,0.0,0,0.000000,NaN
350328,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,3.216666,NaN